/* --------------------------------------------------------------
# Post and page content
	# Alignments
	# Custom block colors
	# Custom font sizes
# Content Navigation
# Infinite Scrool
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_blocks.css";
@import "_media.css";
@import "_forms.css";

/* --------------------------------------------------------------
# Post and page content
-------------------------------------------------------------- */
.entry {
	margin-bottom: 1rem;
}

.entry-meta,
.entry-footer {
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 80%;
}

.entry-meta {
	margin: 1em 0;
	span {
		margin-right: 1em;
	}
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail img {
	margin: 0 auto;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content > ul,
.entry-content > ol {
	padding-left: 3.5em;
}

.page-content > *,
.entry-content > *,
.entry-summary > * {
	margin-right: auto;
	margin-left: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
	font-family: var(--global-font-family);
}

.page-header,
.entry-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.page-content > *,
.entry-content > *,
.entry-summary > *,
.page-header,
.entry-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area {
	margin-left: auto;
	margin-right: auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
}

@media (--content-query) {

	.entry-content > ul,
	.entry-content > ol {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
}

/* Align .more-link with the content. */
.entry-content > .more-link {
	display: block;
}

.page-links {
	clear: both;
	margin-bottom: 1.5em;
}

.entry-footer span {
	margin-right: 1em;
}

.entry-footer {
	clear: both;
	padding: 1.5em 1.5rem 3em;
	border-bottom: 1px solid var(--global-font-color);
}

@media (--content-query) {

	.entry-footer {
		padding-right: 0;
		padding-left: 0;
	}
}

.blog article.has-post-thumbnail .entry-header{
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1em;
}

.blog .entry-header {

	.post-thumbnail img {
		width: auto;
		max-height: 100px;
	}

	h2 {
		margin-top: 0;
		margin-bottom: .5em;
	}
}

.blog .entry-content {
	font-size: 0.8em;
}

.single-post .entry {
	.post-thumbnail img {
		max-height: 300px;
		width: auto;
	}
}

/* --------------------------------------------------------------
## Alignments
-------------------------------------------------------------- */
.alignleft {
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	max-width: calc(50% + var(--content-width) / 2);
}

.alignfull {
	max-width: 100%;
}

.page-content > .alignleft,
.entry-content > .alignleft,
.entry-summary > .alignleft {
	margin-left: 1.5rem;
}

.page-content > .alignright,
.entry-content > .alignright,
.entry-summary > .alignright {
	margin-right: 1.5rem;
}

@media (--content-query) {

	.page-content > .alignleft,
	.entry-content > .alignleft,
	.entry-summary > .alignleft {
		margin-left: calc((100vw - var(--content-width)) / 2);
	}

	.page-content > .alignright,
	.entry-content > .alignright,
	.entry-summary > .alignright {
		margin-right: calc((100vw - var(--content-width)) / 2);
	}
}

@media (--sidebar-query) {

	.has-sidebar .page-content > .alignleft,
	.has-sidebar .entry-content > .alignleft,
	.has-sidebar .entry-summary > .alignleft {
		margin-left: calc((75vw - 2rem - var(--content-width)) / 2);
	}

	.has-sidebar .page-content > .alignright,
	.has-sidebar .entry-content > .alignright,
	.has-sidebar .entry-summary > .alignright {
		margin-right: calc((75vw - 2rem - var(--content-width)) / 2);
	}
}

.wp-block-embed.alignleft, .wp-block-embed.alignright {
	margin: 1em;

}

/* --------------------------------------------------------------
## Custom block colors.
-------------------------------------------------------------- */

.has-theme-primary-color {
	color: var(--color-theme-primary);
}

.has-theme-primary-background-color {
	background-color: var(--color-theme-primary);
}

.has-theme-secondary-color {
	color: var(--color-theme-secondary);
}

.has-theme-secondary-background-color {
	background-color: var(--color-theme-secondary);
}

.has-theme-red-color {
	color: var(--color-theme-red);
}

.has-theme-red-background-color {
	background-color: var(--color-theme-red);
}

.has-theme-green-color {
	color: var(--color-theme-green);
}

.has-theme-green-background-color {
	background-color: var(--color-theme-green);
}

.has-theme-blue-color {
	color: var(--color-theme-blue);
}

.has-theme-blue-background-color {
	background-color: var(--color-theme-blue);
}

.has-theme-yellow-color {
	color: var(--color-theme-yellow);
}

.has-theme-yellow-background-color {
	background-color: var(--color-theme-yellow);
}

.has-theme-black-color {
	color: var(--color-theme-black);
}

.has-theme-black-background-color {
	background-color: var(--color-theme-black);
}

.has-theme-grey-color {
	color: var(--color-theme-grey);
}

.has-theme-grey-background-color {
	background-color: var(--color-theme-grey);
}

.has-theme-white-color {
	color: var(--color-theme-white);
}

.has-theme-white-background-color {
	background-color: var(--color-theme-white);
}

.has-custom-daylight-color {
	color: var(--color-custom-daylight);
}

.has-custom-daylight-background-color {
	background-color: var(--color-custom-daylight);
}

.has-custom-sun-color {
	color: var(--color-custom-sun);
}

.has-custom-sun-background-color {
	background-color: var(--color-custom-sun);
}

/* --------------------------------------------------------------
## Custom block font sizes.
-------------------------------------------------------------- */

.has-small-font-size {
	font-size: var(--font-size-small);
}

.has-regular-font-size {
	font-size: var(--font-size-regular);
}

.has-large-font-size {
	font-size: var(--font-size-large);
}

.has-larger-font-size {
	font-size: var(--font-size-larger);
}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid var(--border-color-dark);
	margin: 0 auto 2em;
	max-width: var(--content-width);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: var(--color-link-active);
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--border-color-dark);
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.wp-rig {
	display:none;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site {
	margin: 0 auto;
	max-width: 100%;
}

@media (--sidebar-query) {

	.has-sidebar .site {
		margin: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		justify-content: center;
	}

	.site-header,
	.site-footer {
		grid-column: 1 / -1;
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}
}

/* --------------------------------------------------------------
## Showcase
-------------------------------------------------------------- */
#wprig-showcase {
	p.gb-headline-text {
		font-size: .8em;
	}
}

/* --------------------------------------------------------------
## Cards
-------------------------------------------------------------- */
.gb-container {

	@media(--narrow-menu-query){
		flex-direction: column;
	}
}

.gb-container.features {
	gap: 1em;
}

.card {
	position: relative;
	width: 350px;
	height: 450px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	overflow: hidden;

	@media(--narrow-menu-query){
		margin: auto;
	}

	img {
		max-height: 150px;
		width: auto;
	}

	h3 {
		padding: 0;
		margin: 0;
		text-align: center;
	}

	p {
		margin:0;
		padding: 0;
		font-size: 16px;
	}
	.wp-block-image {
		min-height: 150px;
	}

	.lightning-css-logo .icon-container {
		margin: 0 auto;
		padding: 20px 0;
	}
}

.card::before {
	content: "";
	position: absolute;
	width: 175%;
	height: 175%;
	background: linear-gradient(to right, #ff3c7b, #40c9ff);
	animation: animate 4s linear infinite;
	opacity: 0;
	transition: 0.5s;
}

.card:hover::before {
	opacity: 1;
}

@keyframes animate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.card .content {
	position: relative;
	width: 96%;
	height: 96%;
	background: #1c1c1c;
	border-radius: 10px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.card .content h2 {
	color: #ff3c7b;
	font-size: 3em;
	font-weight: 500;
	margin-bottom: 5px;
}

.card .content h3 {
	color: #fff;
	font-size: 1.8em;
	font-weight: 700;
	margin-bottom: 10px;
}

.card .content p {
	color: #999;
	line-height: 1.5;
	margin-bottom: 20px;
}

.card .content a {
	display: inline-block;
	padding: 10px 25px;
	text-decoration: none;
	color: #fff;
	background: linear-gradient(to right, #ff3c7b, #40c9ff);
	border-radius: 25px;
	transition: 0.5s;
}

.card .content a:hover {
	transform: scale(1.1);
	box-shadow: 0 0 20px rgba(255, 60, 123, 0.4);
}

/* --------------------------------------------------------------
## Forms
-------------------------------------------------------------- */
.wpforms-container, div.wpforms-container-full {

	@media (--narrow-menu-query){
		margin: 2em;
	}
}
